*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;

}

body{
    height: 100vh; /*deixa a altura igual a altura do view */
    background-color: #F5F0EA;
    color: #120D09;
    box-sizing: border-box; /*cria uma caixa para que o conteúdo não saia da borda da*/
}

header{
    background-position: center;
    background-color: #493833;
    opacity: 0.9;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    padding: 10px; 
    /* display: flex; */

    color: #F5F0EA;

}

.logo, .redes{
    width: 40px;
    height: 40px;
    
}

.menu{
    width: 50%;

}
/* 
.menu nav { /*pega todos os links dentro do nav da classe menu*
    text-decoration: none;
    color: #F5F0EA;
    display: flex;
    justify-content: space-between;
    /* ^ esses dois vão colocar os links distribuidos igualmente*
    
    
   
    padding-right: 30px;
    font-size: 24px;
} */

footer{

    background-position: center;
    background-color: #493833;
    opacity: 0.9;
    background-size: cover;
    background-attachment: fixed;
    
    position: absolute;
    bottom: 0; /*deixa o footer no fundo */
    width: 100%;
    height: 5rem; /* altura da caixa*/
    
}
a{
    color: #F5F0EA;
    text-decoration: none;
    font-size: 24px;
    justify-content: space-between;
    padding-right: 30px;




}

.cardapio{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    display: center;


}

.img_text{
    justify-content: flex-start;
    width: 300px;
    gap: 30px;
}

h1{
    width: fit-content;
}





/*
Quando a tela é até um tamanho, vai ser uma definição de configuração, e abaixo ou acima, outra config
alterando tamanho e qualidade das imagens, fontes, espaçamento e etc

o nomero dentro do media a pessoa escolhem
*/

@media (max-width: 1200px){
    
}